<!-- Generated template for the GoodStyleComponent component -->
<div class="good-style">
	<div class="good-message">
		<ion-slides pager>
		  <ion-slide *ngFor="let item of goodInfo.pictures;let i = index;">
		    <img src="{{item}}">
		  </ion-slide>
		</ion-slides>
		<div class="good-guige">
			<div class="guige-top">
			<h5 padding-top padding-bottom>{{goodInfo.title}}</h5>
			</div>
			<div class="guige-bottom flex-row-between">
				<div class="guige-left">
					<h2>￥{{goodInfo.sale_price}}</h2>
					<p>库存 {{goodInfo.total}}</p>
					<p>销量 {{goodInfo.sale_count}}</p>
				</div>
				<div class="guige-right" tappable (click)="goodPics(20)">
					<img src="{{goodInfo.thumb}}">
				</div>
			</div>
		</div>
	</div>
</div>
