<!-- Generated template for the GoodStyleComponent component -->
<div class="good-style">
	<div class="good-message">
		<ion-slides pager>
		  <ion-slide>
		    <img src="assets/images/goods/goods01.jpg">
		  </ion-slide>

		  <ion-slide>
		    <img src="assets/images/goods/goods02.jpg">
		  </ion-slide>

		  <ion-slide>
		    <img src="assets/images/goods/goods03.jpg">
		  </ion-slide>
		</ion-slides>
		<div class="good-guige">
			<div class="guige-top">
			<h5 padding-top padding-bottom>迪士尼快乐奇缘月饼礼盒</h5>
			</div>
			<div class="guige-bottom flex-row-between">
				<div class="guige-left">
					<h2>￥198</h2>
					<p>库存 415</p>
					<p>销量 85</p>
				</div>
				<div class="guige-right">
					<img src="assets/images/goods/goodsImg01.jpg">
				</div>
			</div>
		</div>
	</div>
</div>
