<!-- Generated template for the GoodStyleComponent component -->
<!--商品大图及商品信息-->
<section class="good-style">
	<div class="good-message">
		<ion-slides pager>
		  <ion-slide *ngFor="let item of goodInfo.thumbs;let i = index;">
		    <img src="{{item}}">
		  </ion-slide>
		</ion-slides>
		<div class="good-guige">
			<div class="guige-top">
			<h5 padding-top padding-bottom>{{goodInfo.title}}</h5>
			</div>
			<div class="guige-bottom" *ngFor="let item of goodInfo.sku_list | objArr;let i = index;">
                <div class="flex-row-between" *ngIf="item.key == (colorSku + '_' + sizeSku)">
                    <div class="guige-left">
                        <h2>￥{{item.sale_price}}</h2>
                        <p>库存 {{item.total}}{{goodInfo.unit}}</p>
                        <p>销量 {{item.sale_count}}{{goodInfo.unit}}</p>
                    </div>
                    <div class="guige-right" tappable (click)="goodPics(20)">
                        <img src="{{goodInfo.thumb}}">
                    </div>
                </div>
			</div>
		</div>
	</div>
</section>
<!--商品规格-->
<section class="good-sku" margin>
    <h4>选择规格</h4>
    <ul class="{{idx == 0 ? 'sku-color' : 'sku-size'}}"  *ngFor="let item of goodInfo.spec_list;let idx = index;">
        <li *ngFor="let item of item.value;let i = index;">
            <button *ngIf="idx == 0" tappable (click)="setColorSku(i)" [class.active]="colorSku == i">{{item}}</button>
            <button *ngIf="idx == 1" tappable (click)="setSizeSku(i)" [class.active]="sizeSku == i">{{item}}</button>
        </li>
    </ul>
    <div class="good-info flex-row-start">
        <div class="good-thumb">
            <img src="{{goodInfo.thumb}}" alt="">
        </div>
        <div class="good-content" *ngFor="let item of goodInfo.sku_list | objArr">
            <div class="good-cont" *ngIf="item.key == (colorSku + '_' + sizeSku)">
                <h5>价格：￥{{item.sale_price}}</h5>
                <p>库存：{{item.total}}</p>
                <div class="good-change">
                    <span tappable (click)="descGood()">-</span>
                    <ion-input value="{{item.num}}" no-margin text-center></ion-input>
                    <span tappable (click)="addGood()">+</span>
                </div>
            </div>
        </div>
    </div>
</section>
