@import "../login/login";
  .get-code {
    input{
      width:150px;
    }
    button.qrCode{
      flex: 0 0 29%;
      height: 80%;
      font-size: 9px;
      background: #f53d3d;
      border-radius: 5px;
      color: #fff;
    }
  }
