@import "../../theme/function";
$background:#f4f4f4;
#page-union {
    background:$background;
  span.title{
    font-size: 14px;
  }
  .swiper-box{
    position: fixed;
    top: 44px;
    left: 0;
    z-index: 100;
    height: 60px;
    line-height: 50px;
    background: #fff;
    padding: 15px 0;
  }
  .nav-bar {
    margin:10px 10px 10px 0;
    -webkit-padding-start:10px;
    .nav-scroll{
      width:100%;
    }
    .nav-scroll .swiper-slide{
      width:auto!important;
    }
  }
  .card-box{
    margin-top: 65px;
    .card-pic {
      .top-img{
        position: relative;
        @include position(relative,0,0);
        .gray-bg{
          @include grayBg(100%,100%);
        }
        .desc{
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 30px;
          line-height: 30px;
          background: rgba(0,0,0,0.6);
          color: #ffffff
        }
      }
      ion-avatar {
        @include position(relative,0,0);
        @include radius(6px);
        overflow: hidden;
        img {
          width: 50px;
          height: 50px;
          @include radius(0);
        }
        .gray-bg{
          @include grayBg(50px,50px);
        }
      }
    }
  }

}
