<!-- Generated template for the GoodChatComponent component -->
<section class="good-chat" padding>
  <ul class="chat-list">
    <li class="chat-item good-company flex-row-start">
      <img src="./assets/images/avatar/3.png" alt="">
      <div class="chat-cont">
        <p class="chat-text" no-margin>欢迎您来了欢迎您来了解这款商品。欢迎您来了解这款商品。欢迎您来了解这款商品。欢迎您来了解这款商品。欢迎您来了解这款商品。解这款商品。</p>

      </div>
    </li>
    <li class="chat-item good-customer flex-row-end">
      <div class="chat-cont">
          <p class="chat-text" no-margin>欢迎您来了欢迎您来了解这款商品。欢迎您来了解这款商品。欢迎您来了解这款商品。欢迎您来了解这款商品。欢迎您来了解这款商品。解这款商品。</p>
      </div>
        <img src="./assets/images/avatar/2.png" alt="">
    </li>
      <li class="chat-item good-company flex-row-start">
          <img src="./assets/images/avatar/3.png" alt="">
          <div class="chat-cont">
              <div class="chat-share">
                  <h5>手机实惠又好用呀！</h5>
                  <div class="chat-article">
                      <img src="./assets/images/goods/shouji01.jpg" alt="">
                      <p no-margin>文章 | Channel</p>
                  </div>
              </div>
          </div>
      </li>
  </ul>
</section>
