<!-- Generated template for the GoodChatComponent component -->
<section class="good-chat" padding>
  <ul class="chat-list">
    <li class="{{item.id == 2 ? 'chat-item good-customer flex-row-end' : 'chat-item good-company flex-row-start'}}" *ngFor="let item of chatData;let i = index;">
      <img src="{{item.avatar}}" alt="" *ngIf="item.id != 2">
      <div class="chat-cont">
        <p class="chat-text" no-margin>{{item.content}}</p>
      </div>
        <img src="{{item.avatar}}" alt="" *ngIf="item.id == 2">
    </li>
      <!--<li class="chat-item good-company flex-row-start">-->
          <!--<img src="./assets/images/avatar/3.png" alt="">-->
          <!--<div class="chat-cont">-->
              <!--<div class="chat-share">-->
                  <!--<h5>手机实惠又好用呀！</h5>-->
                  <!--<div class="chat-article">-->
                      <!--<img src="./assets/images/goods/shouji01.jpg" alt="">-->
                      <!--<p no-margin>文章 | Channel</p>-->
                  <!--</div>-->
              <!--</div>-->
          <!--</div>-->
      <!--</li>-->
  </ul>
</section>
