<!--
  Generated template for the LivePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header [headerTitle]="'直播'"></header>
</ion-header>
<ion-content style="background: #f6f6f6">
  <div *ngIf="lives">
    <section class="video-live">
      <div class="video-status">
        <ion-icon name="ios-paper-plane-outline"></ion-icon>官方直播
        <span>{{lives? '[进行中]' : '[已结束]'}}</span>
      </div>
      <live-video [direction]="'row'" [videoList]="lives"></live-video>
    </section>
  </div>
  <div *ngIf="lives">
    <section class="video-playback">
      <div class="video-status">
        <ion-icon name="ios-list-box-outline"></ion-icon>直播列表
      </div>
      <div class="playback-list flex-row-start">
        <live-video [direction]="'column'" [videoList]="lives"></live-video>
      </div>
    </section>
  </div>
</ion-content>
