page-cart {
  .cart{
    padding:0 10px;
    ion-card{
      margin-top: 15px;
      @include radius(8px);
      .cart-top{
        padding:10px;
        align-items: center;
        img{
          flex:0 0 25px;
          width: 25px;
          height:25px;
        }
        h5{
          flex:1 1 auto;
          font-weight: bold;
          max-width: 280px;
          margin: 0 6px;
        }
        span{
          flex:0 0 50px;
          font-weight: bold;
          text-align: right;
        }
      }
      .cart-center{
        border-top:1px solid #ccc;
        ion-checkbox{
          flex:0 0 25px;
          height:25px;
          margin: 10px 0 10px 10px;
        }
        img{
          flex:0 0 60px;
          width: 60px;
          height:60px;
          margin: 10px 0 10px 10px;
        }
        .cart-guige{
          flex:1 1 auto;
          align-self: flex-start;
          margin: 10px 5px;
          h5,p{
            overflow: hidden;
            color:#333;
            font-size: 10px;
            span{
              @include text-overflow-more(2);
              max-width: 170px;
              em{
                font-style: normal;
              }
            }
            span.text-overflow-one{
              max-width: 200px;
            }
            b{
              float:right;
            }
          }
          h5 b{
            color:#FF4055;
          }
        }
      }
      .goods-del{
        flex:1 1 auto;
        height: 80px;
        ul{
          padding:0 10px;
          height: 60px;
          flex:1 1 auto;
          li{
            height:25px;
            line-height: 25px;
            border:1px solid #ccc;
            @include radius(3px);
            overflow: hidden;
            width: 104px;
            font-size: 12px;
            color:#333;
            span{
              text-align: center;
              height:25px;
              line-height: 24px;
              width: 25px;
              display: inline-block;
            }
            span.input-num{
              width: 45px;
              border-left: 1px solid #ccc;
              border-right: 1px solid #ccc;
            }
            &.guige{
              padding-left:4px;
            }
          }
        }
        b{
          flex:0 0 45px;
          height: 80px;
          line-height: 80px;
          background: #FF4055;
          color: #fff;
          text-align: center;
          ion-icon{
            font-size: 25px;
          }
        }
      }
      .cart-bottom{
        padding: 10px;
        border-top:1px solid #ccc;
        ion-checkbox{
          flex:0 0 25px;
          height:25px;
          margin-right:6px;
        }
        .cart-total{
          flex:1 1 auto;
          .cart-heji{
            align-items: center;
            span b{
              color:#FF4055;
            }
            button{
              margin-left: 5px;
              background: #FA6B5B;
            }
          }
        }
      }
    }
  }

}
