<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <header [headerTitle]="'购物车'"></header>

</ion-header>
<ion-content class="cart">
  <ion-list>
    <ion-card *ngFor="let shop of cartList;let s = index;">
      <div class="cart-top flex-row-start">
        <img src="{{shop.company_logo}}" alt="">
        <h5 class="text-overflow-one">{{shop.title}}</h5>
        <span tappable (click)="cartEdit(s)">编辑</span>
      </div>
      <div class="cart-center flex-row-start" *ngFor="let goods of shop.carts;let g = index;">
        <ion-checkbox  color="danger" checked="{{goods.status}}" tappable (click)="singleChoose(s,g)"></ion-checkbox>
        <img src="{{goods.thumb}}" alt="">
        <div class="cart-guige" *ngIf="!shop.edit">
          <h5 class="flex-row-between"><span>{{goods.goods_name}}</span><b>￥{{goods.sale_price}}</b></h5>
          <p class="flex-row-between"><span>规格：<em>{{goods.is_open_spec == 0 ? '默认' : goods.sku_desc }}</em></span><b>X{{goods.buy_num}}</b></p>
        </div>
        <div class="goods-del flex-row-between" *ngIf="shop.edit">
          <ul class="flex-column-between">
            <li>
              <span>-</span>
              <span class="input-num">2</span>
              <span>+</span>
            </li>
            <li class="guige">规格：{{goods.is_open_spec == 0 ? '默认' : goods.sku_desc }}</li>
          </ul>
          <b tappable (click)="delGood(s,g)"><ion-icon name="ios-trash"></ion-icon></b>
        </div>
      </div>
      <div class="cart-bottom  flex-row-start">
        <ion-checkbox checked="{{shop.status}}" tappable (click)="allChoose(s)"></ion-checkbox>
        <div class="cart-total flex-row-between">
          <span>全选</span>
          <div class="cart-heji flex-row-end">
            <span>合计：<b>￥{{shop.totalFee}}</b></span>
            <button ion-button small tappable (click)="toPay(s)">结算(<strong>{{shop.selectNum}}</strong>)</button>
          </div>
        </div>
      </div>
    </ion-card>
  </ion-list>
</ion-content>
