<!-- Generated template for the CommentComponent component -->
<ion-grid>
    <ion-row *ngFor="let item of commentList;let i = index;" class="circle-row" tappable>
        <ion-col col-2 class="circle-left" (click)="toWorld(i)">
            <img src="{{item.avatar}}" alt="">
        </ion-col>
        <ion-col col-10 class="circle-right">
            <div class="circle-tit flex-row-between">
                <b class="text-overflow-one">{{item.show_name}}</b>
                <span>赏</span>
            </div>
            <!--<div class="circle-sign" *ngIf="item.send.length > 0">-->
                <!--<span *ngFor="let send of item.send;"><em>{{send.sign}}</em>受赏￥{{send.money}}元/{{send.number}}次 </span>-->
            <!--</div>-->
            <p class="circle-text">{{item.content}}</p>
            <div class="circle-img" *ngIf="item.type == 0">
                <img src="{{item.src}}" alt="">
            </div>
            <!--<div class="circle-banner" *ngIf="item.banner.thumb">-->
                <!--<img src="{{item.banner.thumb}}" alt="">-->
                <!--<div class="banner-title text-overflow-more">-->
                    <!--<span>{{item.banner.sign}} | </span>-->
                    <!--<b>{{item.banner.title}}</b>-->
                <!--</div>-->
            <!--</div>-->
            <div class="circle-video" *ngIf="item.type == 1">
                <video src="{{item.video.link}}" webkit-playsinline="true" playsinline="true"
                       controls="controls"></video>
                <!--<div class="banner-title text-overflow-more">-->
                    <!--<span>{{item.video.sign}} | </span>-->
                    <!--<b>{{item.video.title}}</b>-->
                <!--</div>-->
            </div>
            <!--<ul class="circle-pic flex-row-start" *ngIf="item.slide.length > 0">-->
                <!--<li *ngFor="let slide of item.slide;"><img src="{{slide.picture}}" alt=""></li>-->
            <!--</ul>-->
            <div class="circle-zan flex-row-between">
                <b *ngIf="item.createtime">{{item.createtime}}</b>
                <b *ngIf="!item.createtime"></b>
                <span>
                    <ion-icon name="thumbs-up" [class.active]="item.is_like" tappable (click)="dianZan(i,item.id)"></ion-icon>
                    <ion-icon name="chatbubbles" (click)="addComment(i)"></ion-icon>
                </span>
            </div>
            <div class="circle-zanCount" *ngIf="item.like_list.length > 0">
                <ion-icon name="thumbs-up"></ion-icon>
                <span *ngFor="let like of item.like_list;let i = index;">{{ i < item.like_list.length -1 ? like.show_name + '、' : like.show_name }}</span>
            </div>
            <ul class="circle-zanCount circle-comment" *ngIf="item.talk_list.length > 0">
                <li *ngFor="let item of item.talk_list;">{{item.talk_list}}
                    <span>{{item.show_name}}：</span><b>{{item.content}}</b>
                    <ul class="flex-row-start" *ngIf="item.thumb">
                        <li><img src="{{item.thumb}}" alt=""></li>
                    </ul>
                </li>
            </ul>
        </ion-col>
    </ion-row>
</ion-grid>