$grayColor:#666;
$pinkColor:#ff0455;
$redColor:#f00;
//设置Android头部导航居中问题保持与ios样式同步
.toolbar-title-md {
  text-align: center;
}
/*box盒阴影*/
@mixin boxShadow($shadow: 0 1px 2px rgba(0, 0, 0, 0.3)){
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -o-box-shadow: $shadow;
  box-shadow: $shadow;
}

/*水平方向为主轴盒模型*/


/*弹性盒模型*/
@mixin flex($direction:row,$align:flex-start) {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  flex-direction: $direction;
  justify-content: $align;
  align-items: center;
}

.flex-row-start {
  @include flex(row,flex-start);
}
.flex-row-end {
    @include flex(row,flex-end);
};
.flex-row-center {
  @include flex(row,center);
};
.flex-row-around {
  @include flex(row,space-around);
};
.flex-row-between {
  @include flex(row,space-between);
};

/*垂直方向为主轴盒模型*/

.flex-column-start {
  @include flex(column,flex-start);
};
.flex-column-end {
  @include flex(column,flex-end);
};
.flex-column-center {
  @include flex(column,center);
};
.flex-column-around {
  @include flex(column,space-around);
};
.flex-column-between {
  @include flex(column,space-between);
};


/*圆角*/
@mixin radius($val:6px){
  border-radius: $val;
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
}
/*定位*/
@mixin position($pos:relative,$top:null,$right:null,$bottom:null,$left:null){
  position:$pos;
  @if $top {top:$top;};
  @if $right {right:$right};
  @if $bottom {bottom:$bottom};
  @if $left {left:$left};
}
/*深灰色背景*/
@mixin grayBg($wid,$hgt,$color:#000,$alpha:0.2){
    content: '';
    width: $wid;
    height: $hgt;
    background: rgba($color,$alpha);
    @include position(absolute,0,0);
}
//transition动画
@mixin transition($time){
  transition: all $time;
  -webkit-transition: all $time;
  -moz-transition:all $time;
  -o-transition: all $time;
}
@mixin outline-box($border,$padding,$radius,$color,$size){
  border:$border;
  padding:$padding;
  @include radius($radius);
  color:$color;
  font-size: $size;
}
@mixin text-overflow-more($num){
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: $num;
   overflow: hidden;
}