<!--
  Generated template for the GroupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header [headerTitle]="'社群'"></header>
</ion-header>

<ion-content class="cont-background">
  <ion-refresher (ionRefresh)="doRefresh($event)" style="margin-top: -40px;">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="刷新...." refreshingSpinner="circles" refreshingText="刷新...."></ion-refresher-content>
  </ion-refresher>
  <ion-card padding *ngFor="let item of group;let i = index;" tappable (click)="toTalk()">
    <div class="group-header">
      <div class="group-icon" text-center [style.background-color]="colorArr[i]">
        <ion-icon name="volume-up"></ion-icon>
      </div>
      <div class="group-dec">
        <h2>{{item.name}}</h2>
        <p>最高容量{{item.cont}}人</p>
      </div>
    </div>
    <ul class="group-tuijian flex-row-between">
      <li *ngFor="let avatar of item.avatar;let i = index;" tappable><img src="{{avatar}}" alt=""></li>
    </ul>
    <div class="group-count">
      <span>成员<b>{{item.people}}</b></span>
      <span>话题<b>{{item.topic}}</b></span>
      <span>讨论<b>{{item.talk}}</b></span>
    </div>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)" threshold="100px" *ngIf="loadStatus">
      <ion-infinite-scroll-content  loadingSpinner="bubbles"
                                    loadingText="加载更多..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-card>
