page-mall {
    .swiper-parent{
      .swiper-slide{
        flex-direction: column;
        .mall-title{
          @include position(absolute,30px,null,null,0);
          width:100%;
        }
        .swiper-child{
          @include position(absolute,0,0,0,0);
          margin: auto;
          width:300px;
          height:400px;
        }
      }
      .swiper-up{
        @include position(absolute,null,0,30px,0);
        width:100%;
        text-align: center;
        font-size: 30px;
        color:#8c8c8c;
      }
    }
}
