<!--
  Generated template for the MallPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

 <share-header [headerTitle]="'商城'" [shareLink]="'shareLink'"></share-header>

</ion-header>


<ion-content no-padding>
    <!--<ion-slides class="slides-parent"  pager="false">-->
      <!--<ion-slide *ngFor="let item of good;let i = index;">-->
        <!--<h2 class="mall-title">{{item.title}}</h2>-->
        <!--<ion-slides class="slides-child" #slidesChild pager="false">-->
          <!--<ion-slide *ngFor="let product of item.goodList;let j = index;">-->
            <!--<good-intro [goodList]="product"></good-intro>-->
          <!--</ion-slide>-->
        <!--</ion-slides>-->
      <!--</ion-slide>-->
    <!--</ion-slides>-->
    <div class="swiper-container swiper-parent">
        <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let item of good;let i = index;">
                <h2 class="mall-title" >{{item.title}}</h2>
                <div class="swiper-container swiper-child" #swiperChild>
                    <div class="swiper-wrapper ">
                        <div class="swiper-slide" *ngFor="let product of item.goodList;let j = index;">
                            <good-intro [goodList]="product"></good-intro>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination" #pagination></div>
        <ion-icon name="open" class="swiper-up"></ion-icon>
    </div>
</ion-content>
