<!-- Generated template for the ContactComponent component -->
<section class="contact-box">
  <div class="contact-tel">
      <ion-icon  name="phone-portrait"></ion-icon>
      <p>{{contact.tel}}</p>
  </div>
    <ion-grid class="contact-cate" no-padding>
        <ion-row>
            <ion-col ion-col-3><ion-icon name="mail"></ion-icon></ion-col>
            <ion-col ion-col-3><ion-icon name="call"></ion-icon></ion-col>
            <ion-col ion-col-3><ion-icon name="chatbubbles"></ion-icon></ion-col>
            <ion-col ion-col-3><ion-icon name="pin"></ion-icon></ion-col>
        </ion-row>
    </ion-grid>
    <div class="contact-promise">
        <p>{{contact.xuke}}</p>
        <p>{{contact.bianhao}}</p>
        <p>{{contact.banquan}}</p>
    </div>
</section>