<!-- Generated template for the ContactComponent component -->
<section class="contact-box">
  <div class="contact-tel">
      <ion-icon  name="phone-portrait"></ion-icon>
      <p>(020)85585555</p>
  </div>
    <ion-grid class="contact-cate" no-padding>
        <ion-row>
            <ion-col ion-col-3><ion-icon name="mail"></ion-icon></ion-col>
            <ion-col ion-col-3><ion-icon name="call"></ion-icon></ion-col>
            <ion-col ion-col-3><ion-icon name="chatbubbles"></ion-icon></ion-col>
            <ion-col ion-col-3><ion-icon name="pin"></ion-icon></ion-col>
        </ion-row>
    </ion-grid>
    <div class="contact-promise">
        <p>增值电信业务经营许可证: 粤B1-20150552</p>
        <p>经营许可证编号: 粤ICP备14072963号</p>
        <p>2017 超G名片 版权所有</p>
    </div>
</section>