<!-- Generated template for the TouCommentComponent component -->
<section class="tou-comment">
    <ul class="comment-btn flex-row-around">
        <li>
            <ion-icon name="thumbs-up"></ion-icon>
            <b>122</b>
        </li>
        <li>
            <ion-icon name="eye"></ion-icon>
            <b>22</b>
        </li>
        <li>
            <ion-icon name="chatbubbles"></ion-icon>
            <b>12</b>
        </li>
    </ul>
    <div class="comment-text">
        评论
    </div>
    <comment [commentList]="commentInfo" [type]="'top'"></comment>
</section>