tou-comment {
  .comment-btn{
    padding: 10px 0;
    li{
      ion-icon{
        font-size: 25px;
      }
      b{
        font-size: 13px;
        text-align: center;
        display: block;
      }
    }
  }
  .comment-text{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding: 5px 4%;
    color:#333;
  }
}
