#page-find {
  .find-card{
    padding:0;
    height:172px;
    ion-grid{
      padding:0;
      ion-row ion-col{
		    padding: 0;
			display: flex;
			display: -webkit-flex;
			align-items: center;
			justify-content: center;
        .box-img{
			height:200px;
			width:200px;
			border:1px solid red;
		}
		.cover-img{
			width:100%;
			height:100%;
			background-size:cover;background-position:50%;
		}
        h2{
		  width:1.5em;
		  margin:0!important;
          font:{
            size:20px;
            weight:bold;
          }
        }
      }
    }
  }
}
