<!--
  Generated template for the OrderDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header [headerTitle]="'填写订单信息'"></header>
</ion-header>


<ion-content padding>
  <!--收货地址-->
  <div class="addressOut">
    <div class="addressIn flex-row-between" tappable (click)="toAddressList()">
      <div class="address-left" *ngIf="orderInfo.address">
        <div class="user-info flex-row-between">
          <b>收货人：{{orderInfo.address.realname}}</b>  &nbsp;&nbsp;&nbsp;
          <span>{{orderInfo.address.mobile}}</span>
        </div>
        <div class="user-address">
          收货地址：{{orderInfo.address.address}}
        </div>
      </div>
      <div class="address-none" *ngIf="!orderInfo.address">暂无地址，去填写！</div>
      <div class="address-right">
        <ion-icon name="arrow-forward"></ion-icon>
      </div>
    </div>
  </div>
  <!--订单信息-->
  <div class="order-info" *ngFor="let item of orderInfo.list">
    <div class="order-shop">
        <img src="{{item.company_logo}}" alt="">
        <b>{{item.company_title}}</b>
    </div>
      <div class="order-descs flex-row-start">
          <div class="order-pic">
              <img src="{{item.thumb}}" alt="">
          </div>
          <div class="order-title">
              <h5 class="text-overflow-one">{{item.goods_title}}</h5>
              <p *ngIf="item.is_open_spec != 0">
                  <b>规格：{{item.sku_desc}} </b>
              </p>
              <p *ngIf="item.is_open_spec == 0">
                  <b>规格：默认 </b>
              </p>
              <p class="flex-row-between">
                  <span>￥{{item.sale_price * item.buy_num}}</span>
                  <b>X {{item.buy_num}}</b>
              </p>
          </div>
      </div>

  </div>
  <!--购买数量-->
  <!--<div class="order-num flex-row-between">-->
    <!--<span>购买数量</span>-->
    <!--<div class="set-num">-->
      <!--<b class="down" tappable (click)="downOrderNum()">-</b>-->
      <!--<b>{{orderInfo.num}}</b>-->
      <!--<b class="up" tappable (click)="upOrderNum()">+</b>-->
    <!--</div>-->
  <!--</div>-->
  <!--配送方式-->
  <!--<div class="order-send flex-row-between">-->
    <!--<div class="send-left">-->
      <!--<ion-icon ></ion-icon>配送方式-->
    <!--</div>-->
    <!--<div class="send-right">-->
      <!--<select name="" id="">-->
        <!--<option value="{{item}}" *ngFor="let item of sendWay;let i = index;">{{item}}</option>-->
      <!--</select>-->
    <!--</div>-->
  <!--</div>-->
  <!--留言-->
  <textarea class="order-liuyan" cols="30" rows="10" placeholder="请填写卖家留言，对本次交易的说明"></textarea>
</ion-content>
<ion-footer class="flex-row-between">
  <div class="pay-total">
    合计：￥<b>0.00</b>元
  </div>
  <button ion-button color="red" small tappable (click)="toPay()">立即支付</button>
</ion-footer>
