<!-- Generated template for the VideoComponent component -->
<section class="video-box video-row video-column">
  <div class="video-left">
    <img src="./assets/images/video/video1.jpg" alt="">
    <ion-icon name="" class="video-btn"></ion-icon>
    <p><ion-icon name=""></ion-icon>60人观看</p>
  </div>
  <div class="video-right" padding-left>
    <h2 class="text-overflow-one">徐华久的直播</h2>
    <div class="video-count">
      <p no-margin><ion-icon name=""></ion-icon>4天前</p>
      <p no-margin><ion-icon name=""></ion-icon>60人观看</p>
    </div>
  </div>
</section>