page-user-edit {
  .avatar-img{
    background: #ffffff;
    height:200px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 10px;
    img{
      margin-top: 10px;
      width:140px;
      height:140px;
      @include radius(50%);
    }
    .set-face-tips{
      margin-bottom: 10px;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
    }
  }
  .form-list{
    ion-item{
      ion-label[fixed]{
        flex:0 0 50px;
        width:50px;
        min-width: 70px;
      }
      ion-select{
        border: 1px solid #ccc;
        @include radius(5px);
        margin-left:10px;
        min-width:50px;
        padding:4px 6px!important;
      }
    }
  }
  .user-xieyi{
    height:50px;
    line-height: 50px;
    padding:0 10px;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    background: #fff;
    h5{
      font-size:14px;
    }
  }

}
